{% extends "layout/layout.index.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row row-custom">
        <div class="col-12 img-div d-flex justify-content-center align-items-center flex-column">
            <h1>DOĞADAN ÇAM REÇELİ</h1>
            <p>DOĞANIN ÖZÜNDEN ÖZÜMÜZE</p>
        </div>
    </div>
</div>
<div class="container container-custom">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-xs-2">
            <div class="div-custom"><img src="assets/img/cam-receli.png" alt="natural" class="img-custom"></div>
        </div>
        <div class="col-2"></div>
        <div class="col-6 col-md-6">
            <h4>BİZE ULAŞIN</h4>
            <p>Tüm sipariş ve sorularınız için aşağıdaki form aracılığıyla bize ulaşabilirsiniz. Sağlıklı günlerde buluşmak üzere.</p>
            <form action="#">
                <div class="form-group">
                    <input type="text" id="name-surname" class="form-control" aria-describedby="isimsoyisim" placeholder="Adınız Soyadınız">
                    <input type="text" id="web" class="form-control" aria-describedby="websiteniz" placeholder="Website">
                    <input type="email" id="mail" class="form-control" aria-describedby="mail" placeholder="E-posta adresiniz">
                    <input type="tel" id="phone" class="form-control" aria-describedby="telno" placeholder="Telefon numaranız">
                    <input type="text" id="message" class="form-control" aria-describedby="mesajınız" placeholder="Mesajınız">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="map">
            <img src="assets/img/location.png" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 contact-custom">
            <h3>İLETİŞİM BİLGİLERİ</h3>
            <h5>Her türlü soru, öneri, sorun, sipariş ve satış sonrası destek için lütfen bizimle iletişime geçin. Sorunlar bir oldukça, hiçtir.</h5>
            <br>
            <address><i class="fas fa-map-marker"></i> Babahızır Köyü Değirmenbükü Mahallesi Mengen BOLU</address>
            <p><i class="fas fa-envelope"></i> support@oragnici.com</p>
            <p><i class="fas fa-phone"></i> +0122-456-9988</p>
        </div>
    </div>
</div>
{% endblock %}