<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4 row-image text-center d-flex justify-content center align-items-center flex-column">
            <img class="w-50" src="assets/img/mask-2.png" alt="">
            <p class="title">Çam ormanlarının eşsiz kokusu ve güzelliği arasından çıkıp gelen, doğanın özünden özümüze ulaşan bir tat</p>
            <p><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i></p>
            <p class="copyright" id="copyright">2020 Çam Reçeli</p>
            <p class="name" id="designer">Designed by Melek Köksal</p>
        </div>
        <div class="col-md-12 col-lg-8 footer-right">
            <div class="row">
                <h1>ABONE OL</h1>
                <div class="col-12 subscription">
                    <label for="subscribe">Sağlıklı haberlerimizden haberdar olmak için lütfen e-posta adresinizi bırakın.</label>
                    <div class="input-group">
                        <input type="text" id="subscribe" class="form-control" aria-describedby="abone" placeholder="Email address">
                        <div class="input-group-append">
                            <button class="btn" type="button">GÖNDER</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row information">
                <div class="col-lg-3 col-md-12">
                    <h4>İLETİŞİM</h4>
                    <h6>Çiftlik</h6>
                    <p>Babahızır Köyü Değirmenbükü Mahallesi Mengen BOLU uretim@camreceli.com</p>
                    <br>
                    <h6>Mağaza</h6>
                    <p>Sarıyer Yeni Mahalle Sarıyer İSTANBUL magaza@camreceli.com</p>
                    <a href="www.camreceli.com" class="active">www.camreceli.com</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>KATEGORİLER</h4>
                    <a href="#">Reçeller</a>
                    <a href="#" class="active">Çam Reçeli</a>
                    <a href="#">Kozalak Reçeli</a>
                    <a href="#">Çam İğnesi Reçeli</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>KURUMSAL</h4>
                    <a href="#">Hakkımızda</a>
                    <a href="#">Kullanım Şartları</a>
                    <a href="#">Uyarılar</a>
                    <a href="#">Ödeme</a>
                    <a href="#">Sık Sorulan Sorular</a>
                </div>
                <div class="col-lg-3 col-md-12 social">
                    <h4>INSTAGRAM'DA BİZ</h4>
                    <div class="row">
                        <div class="col-4"><img src="assets/img/ig-1.png" alt="instagram-photo"></div>
                        <div class="col-4"><img src="assets/img/ig-2.png" alt="instagram-photo"></div>
                        <div class="col-4"><img src="assets/img/ig-3.png" alt="instagram-photo"></div>
                    </div>
                    <div class="row">
                        <div class="col-4"><img src="assets/img/ig-4.png" alt="instagram-photo"></div>
                        <div class="col-4"><img src="assets/img/ig-5.png" alt="instagram-photo"></div>
                        <div class="col-4"><img src="assets/img/ig-6.png" alt="instagram-photo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>