@media only screen and (min-width: 770px) and (max-width: 991px){
    .navbar .container-fluid {
        height: 100px;
    }
    .navbar-toggler-icon{
        height: 70px;
        width: 60px;
    }
    #nav-menu .navbar-nav a{
        font-size: 30px;
        background-color: #ffffff;
    }
    .row-custom{
        height: 600px;
    }
    .row-custom h1{
        margin-top: 70px;
    }
    .row-custom .flex-column p{
        font-size: 36px;
    }
    .container .row .div-custom{
        position:relative;
        height: 800px;
    }
    .container .row .img-custom{
        height: 800px;
    }
    .first-form{
        margin-top: 100px;
    }
    .first-form h4{
        font-size: 48px;
    }
    .first-form p{
        font-size: 30px;
    }
    .first-form .btn{
        font-size: 26px;
        height: 70px;
    }
    #name-surname,#web,#mail,#phone{
        font-size: 30px;
        height: 60px;
        width: 300px;
        margin-bottom: 15px;
    }
    #message{
        font-size: 30px;
        height: 120px;
        width: 600px;
    }
    #map{
        height: 600px;
    }
    #map img{
        left: 430px;
    }
    #web,#phone{
        margin-left: 0;
    }
    .container-fluid .contact-custom{
        height: 600px;
        right: 40px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 5px;
    }
    .container-fluid .contact-custom address,p{
        font-size: 24px;
    }
    .container-fluid .contact-custom h3{
        padding-top: 30px;
        font-size: 34px;
    }
    .container-fluid .contact-custom h5{
        font-size: 28px;
        padding-top: 20px;
    }
    .row-image{
        margin-top: 110px;
        height: 1100px;
    }
    .row-image .title{
        font-size: 30px;
    }
    .row-image img{
        padding: 30px 0 20px;
    }
    .row-image i{
        padding: 40px 10px 0 20px;
        font-size: 32px;
    }
    .row-image #copyright{
        padding-top: 10px;
        font-size: 32px;
    }
    .row-image #designer{
        font-size: 32px;
    }
    .footer-right h1{
        font-size: 48px;
    }
    .footer-right label{
        font-size: 30px;
    }
    .footer-right #subscribe{
        height: 60px;
        font-size: 30px;
    }
    .footer-right .input-group-append .btn{
        font-size: 26px;
        width: 170px;
    }
    .information h4{
        font-size: 32px;
    }
    .information h6{
        font-size: 28px;
    }
    .information a{
        font-size: 24px;
    }
    .information .social h4{
        margin-left: 120px;
    }
}
@media only screen and (min-width: 1000px){
    #message{
        width: 645px;
    }
    #map img{
        left: 530px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 20px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 5px;
    }
    .container-fluid .contact-custom address,p{
        font-size: 13px;
    }
    .container-fluid .contact-custom h3{
        padding-top: 40px;
        font-size: 22px;
    }
    .container-fluid .contact-custom h5{
        font-size: 14px;
        padding-top: 20px;
    }
    #name-surname,#web,#mail,#phone{
        width: 320px;
    }
    #web,#phone{
        margin-left: 0;
    }
    #map img{
        left: 480px;
    }
}