@media only screen and (min-width: 768px) and (max-width: 991px){
    .container .row .div-custom{
        position:relative;
        height: 330px;
    }
    .container .row .img-custom{
        height: 330px;
    }
    #name-surname,#web,#mail,#phone{
        width: 160px;
        margin-bottom: 15px;
    }
    #web,#phone{
        margin-left: 0px;
    }
    #map img{
        left: 430px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 5px;
    }
    .container-fluid .contact-custom address,p{
        font-size: 13px;
    }
    .container-fluid .contact-custom h3{
        padding-top: 30px;
        font-size: 22px;
    }
    .container-fluid .contact-custom h5{
        font-size: 14px;
        padding-top: 20px;
    }
    .row-image{
        margin-top: 110px;
        height: 350px;
    }
    .row-image .title{
        font-size: 10px;
    }
    .row-image img{
        padding: 30px 0 20px;
    }
    .row-image i{
        padding: 40px 10px 0 20px;
    }
    .row-image .copyright{
        padding-top: 10px;
    }
    .information h4{
        font-size: 15px;
    }
    .information h6{
        font-size: 14px;
    }
    .information a{
        font-size: 12px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1300px){
    #map img{
        left: 530px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 20px;
    }
    .container-fluid .contact-custom h3,h5{
        padding-top: 5px;
    }
    .container-fluid .contact-custom address,p{
        font-size: 13px;
    }
    .container-fluid .contact-custom h3{
        padding-top: 40px;
        font-size: 22px;
    }
    .container-fluid .contact-custom h5{
        font-size: 14px;
        padding-top: 20px;
    }
    #name-surname,#web,#mail,#phone{
        width: 267px;
    }
    #web,#phone{
        margin-left: 0px;
    }
    #map img{
        left: 480px;
    }
    .row-image{
        margin-top: 0px;
        height: 450px;
    }
}